<!DOCTYPE html>
<html>
<head>
    <title>Editar perfil</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <h1>Editar perfil</h1>

    <% user.forEach(function(user) { %>

        <form action="/perfil/<%= user.id_user %>/editar" class="signin-form" method="POST"
            enctype="multipart/form-data">

            <div class="col-sm-9">
                <input type="text" class="form-control-sm border-1 mb-0" placeholder="Digite aqui..." name="nome"value="<%= user.nome %>" />
            </div>

            <div class="col-sm-9">
                <input type="text" class="form-control-sm border-1 mb-0"placeholder="Digite aqui..." name="email" value="<%= user.email %>" />
            </div>

            <div class="col-sm-9">
                <input type="text" class="form-control-sm border-1 mb-0"placeholder="Digite aqui..." name="cpf" value="<%= user.cpf %>" />
            </div>

            <div class="col-sm-9">
                <input type="text" class="form-control-sm border-1 mb-0"placeholder="Digite aqui..." name="telefone" value="<%= user.telefone %>" />
            </div>

            <div class="col-sm-9">
                bio
                <input type="text" class="form-control-sm border-1 mb-0"placeholder="Digite aqui..." name="biografia" value="<%= user.biografia %>" />
            </div>

            <% if (user.imagem) { %>
                <img src="/<%= user.imagem %>" class="img-fluid img-thumbnail mt-4 mb-2 rounded-circle">
                <% } else { %>
                    <p>Nenhuma imagem disponível.</p>
                    <% } %>

                        <label for="file">Selecione uma nova imagem:</label>
                        <input type="file" name="file" id="file">
                        <input type="submit" value="Enviar" class="form-control btn btn-primary rounded submit px-3">
        </form>
        <% }) %>
    </body>
</html>