<%- include('layouts/default/Navbar') %>

<% parceiro.forEach(function(parceiro) { %>

        <header class="py-5 bg-image-full" style="background-color: #bedcff; margin-top: 4.1rem;">
            <% if (user && user.role==='admin' ) { %>
                <div class="d-flex justify-content-end align-items-center mt-0 mb-3 mx-5">
                    <a class="btn" style="background-color: #e3b04b; color: #fff; margin-right: 10px;" href="/parceiros/<%= parceiro.id_parceiro %>/editar">Editar</a>
                    <form action="/parceiros/<%= parceiro.id_parceiro %>/excluir" method="POST" style="display: inline;">
                        <input class="btn btn-danger" type="submit" value="Excluir" />
                    </form>
                </div>
            <% } %>
            <div class="text-center mt-5 mb-3">
                <img class="img-fluid rounded-circle mb-4" style="height: 18rem; width: 18rem; object-fit: cover;"
                    src="/<%= parceiro.caminho_imagem %>" onerror="this.src='/img/perfilSemFoto.png';" />
                <h1 class="text-dark fs-3 fw-bolder"><%= parceiro.nome %></h1>
            </div>
        </header>

        

        <section id="service-details" class="service-details mt-0">
            <div class="container">
                <div class="row gy-5 mb-5">
                    <div class="col-12">
                        <div class="service-box">
                            <h4>Informações do Parceiro</h4>
                            <div class="services-list d-flex justify-content-between">
                                <div class="p-2 col-4 text-start">
                                    <p><strong>Nome:</strong> <%= parceiro.nome %> </p>
                                </div>
                                <div class="p-2 col-4 text-center">
                                    <p><strong>Endereço:</strong> <%= parceiro.endereco %> </p>
                                </div>
                                <div class="p-2 col-4 text-end">
                                    <p><strong>Contato:</strong> <%= parceiro.telefone %> </p>
                                </div>
                            </div>

                            <div class="services-list d-flex justify-content-between">
                                <div class="p-2 col-4 text-start">
                                    <p><strong>Serviço:</strong> <%= parceiro.servico_oferecido %> </p>
                                </div>
                                <div class="p-2 col-4 text-center">
                                    <p><strong>Horários:</strong> <%= parceiro.horario_funcionamento %> </p>
                                </div>
                                <div class="p-2 col-4 text-end">
                                    <p><strong>Redes sociais:</strong> <%= parceiro.rede_social %> </p>
                                </div>
                            </div>

                            <div class="services-list" style="padding: 8px;">
                                <p><strong>Descrição:</strong> <%= parceiro.descricao %> </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    <% }) %>

<%- include('layouts/default/Footer') %>